* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}


.row {
    margin-left: -8px;
    margin-right: -8px;

}

/* .row::after {
    content: "";
    display: block;
    clear: both;
} */

.col {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: 32.98%;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-1 {
    width: 100%;
}

#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding:0 24px;
    display: inline-block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    color: #ccc;
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46.5px;
    padding: 0 21px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    
}

#slider{
   margin-top: 46.5px;
   padding-top: 50%;
   background: url('/assets/img/slider1.jpg') top center / cover no-repeat;
   position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-content .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-content .text-description {
    font-size: 15px;
    font-style: bold;
}

#content .wide, .contact-header {
    margin: 10px 0;
    color: #000;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

#content .the-band, .contact-detial {
    max-width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .text1, .contact-body {
    margin: 15px 0;
    color: #000;
    text-align: center;
    opacity: 0.5;
    font-style: italic;
}

#content .text2 {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#content .box {
    text-align: center;
    padding: 64px 0;
}

#content .box-item {
    display: inline-block;
    width: 32.9%;
    
}

#content .p{
    font-size: 15px;
    margin: 15px 0;
}


#content .tour-dates {
    background-color: #000;
}

#content .tour-dates-detail {
    max-width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .name-top {
    color: #fff;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

#content .name-bottom {
    margin: 15px 0;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    font-style: italic;
}

#content .box-item .member-img {
    width: 60%;
    margin: 0 0 16px 0;
}

#content .month {
    max-width: 800px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33.4px;
    background-color: #fff;

}

#content .detail {
    color: #757575;
    list-style-type: none;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

#content .span-detail {
    margin: 0 0 0 16px;
    padding: 2px 8px;
    background-color: rgb(244, 67, 54);
    color: #fff;
    font-size: 15px;
    
}

#content .span-detail-1 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    margin-right: 16px;
    text-align: center;
    border-radius: 50%;
}

.ticket {
    margin-top: 32px;
    margin-bottom: 48px;
}


.ticket-detial {
    background-color: #fff;
    padding: 16px;
}

.ticket-img {
    width: 100%;
    height: auto;
    display: block;
}

.ticket .month-1 {
    margin: 15px 0;
    opacity: 0.6;
}

.ticket-text {
    margin: 15px 0 25px 0;
}

.ticket-btn {
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.ticket-btn:hover {
    color: #000;
    background: #ccc;
}

.ticket-img:hover {
    opacity: 0.5;
}


.model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.model.open{
    display: flex;
}

.model-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.model-heading-icon {
    margin-right: 16px;
}

.model-ticket-text {
    letter-spacing: 6px;
}

.model-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 64px);
    min-height: 200px;
    position: relative;
    animation: modelFadeIn 0.4s;
}

.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
}

.ti-close:hover {
    opacity: 1;
    background-color: #ccc;
}

.model-body {
    padding: 16px;
}

.model-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    
}

.model-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#by-ticket {
    background: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
    cursor: pointer;
}

#by-ticket:hover {
    opacity: 0.9;
    background: #ccc;
}

.model-footer {
    padding: 16px;
    text-align: right;

}

.model-footer a {
    color: #2196F3;
}

@keyframes modelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

input.form-control {
    margin-top: 6px;
}

.form-submit-btn {
    margin-top: 16px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

.contact-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-style: none;
    filter: grayscale(50%);
    margin-top: 72px;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}
.footer-footer {
    margin-top: 24px;
}

#footer .footer-a {
    font-size: 24px;
}

#footer .footer-a a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .footer-a a:hover {
    opacity: 0.4;
    cursor: pointer;
}

#footer .link-w3 {
    color: #000;
}

